<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <span>
    <%= image_tag "Sample.png", class: "logo_height" %>
    <%#img src="/app/assets/images/Sample.png" alt="request_time_out"  width="20" height="20" class="" style="height: 20px; width: 20px;"%>
    </span>
    <span class="navbar-brand mb-0 h1"><a class="navbar-brand" href="#">My Sample Project</a></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2 class="container mt-4 text-center">Hello this is my introductory page for ruby with pipelines</h2>
<div class="container text-center" id="clock" >this is a clock</div>
